{% extends 'base.html' %}

{% block content %}

{% load static %}


<head>
    <title>Expert System</title>
    <link rel="stylesheet" href="{% static 'css/expert_ui.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  </head>
  <body>
    <br>
    <h1 style="color:white"><center>Expert User Interface <i class="fa fa-user-md" aria-hidden="true"></i></center></h1> 
    <div class="expert-interface">
        <br>

        <div>

        
        </div>
        <br>
        
        <section class="knowledge_base">
          <h2> Knowledge Base Interface <i class="bi bi-database-fill"></i></i> </h2>
          <p style="color:white">
            The knowledge base is where data used by the expert system is stored. In the case of this system,
            the knowlege base stores data about psychological disorders such as description, recommendation, disorder name & symptoms.
            Furthermore, the knowledge base interface is where an expert can manipulate the knowledge base by updating info on the 
            existing disorders.  
          </p>
          <br>
          <p style="color:white">
            Click on the button below to access the knowledge base interface 

          </p>\
          <br>
          <a href="{% url 'kb-interface' 1 %}"><button type="button" class="btn btn-info">Knowledge Base UI</button></a>
        </section>
<br>
        <section id="disorder_tests">
          <h2> Disorder Tests <i class="bi bi-clipboard2-pulse"></i> </h2>
          <p style="color:white">
            Below are all the tests avaiable in the system. If you have an idea what your patient
            or client is suffering from you select from the tests below. All the questions and diagnosis criteria
            were based on the information provided by the DSM (Diagnostic and Statistical Manual of Mental Disorders).

          </p>
          <br>
          <p style="color:white">
            (This system offers assessments only for Social Anxiety, Generalized Anxiety Disorder, Bipolar, PTSD, OCD, Anti social and Depression.)
          </p>
          <br>
          <!-- maybe add pictures later-->
          <div class="social_anxiety" >
            <h3> Social Anxiety</h3>
            <p> 
                 
            </p>

            <center><a href="/sa_anxiety_test"> <button class="begin-button">Begin</button></a></center>
          </div>

          <br>
          <div class="general_anxiety">
            <h3> Generalized Anxiety Disorder</h3>
            <p> 
                   
            </p>

           <center><a href="/anxiety_test"> <button class="begin-button">Begin</button></a></center> 
          </div>

          <br>
          <div class="depression">
            <h3> Depression </h3>
            <p> 
                  
            </p>
            <br>
            <center><a href="/depression_test"> <button class="begin-button">Begin</button></a></center>
          </div>

          <br>
          <div class="ocd">
            <h3> Obsessive Compulsive Disorder </h3>
            <p> 
                 
            </p>
            <br>
            <center><a href="/ocd_test"> <button class="begin-button">Begin</button></a></center>
          </div>

          <br>

          <div class="ptsd">
            <h3> Post Traumatic Stress Disorder</h3>
            <p> 
                  
            </p>

           <center><a href="/ptsd_test"> <button class="begin-button">Begin</button></a></center> 
          </div>
          <br>

          <div class="anti-social">

            <h3> Anti Social Personality Disorder</h3>
            <p> 
                   
            </p>

           <center><a href="/antisocial_test"> <button class="begin-button">Begin</button></a></center> 
          </div>

          <br>
          <div class="bipolar">
            <h3> Bipolar Disorder </h3>
            <p> 
                
            </p>
            <!-- add the bipolar questions asap -->
           <center><a href="/"> <button class="begin-button">Begin</button></a></center>
          </div>
          
          <br>
        </section>
      
        <footer>
          <div class="footer-content">
            <h3>
              PDDES 
            </h3>
            <p>
              This is the footer of our site!
            </p>
            <ul class="communications">
              <li>
                <a href="#"><i class="fa fa-telegram"></i></a>
              </li>
              <li>
                <a href="https://github.com/MM58-crypto"><i class="fa fa-github"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin-square"></i></a>
              </li>
              
            </ul>
          </div>
          
          <div class="footer-bottom">
            <p class="lead">copyright &copy;2023 PDDES. </p>
            
           
          </div>
        </footer> 
      
  </body>

{% endblock %}