{% extends 'base.html' %}

{% block content %}

{% load static %}


<!-- put a disclaimer once the user access this page (regarding this system 
    and accuracy) + mention DSM-->

<head>
  <script>
    const disclaimer_modal = new boostrap.Modal('#disclaimer-modal');
    
    window.addEventListener('DOMContentLoaded', () => {
      disclaimer_modal.show();
    });

   </script>
   
  <link rel="stylesheet" href="{% static 'css/normal_dash.css' %}">

</head>
<div class="modal" tabindex="-1" role="dialog" id="disclaimer-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Disclaimer</h5>
       
      </div>
      <div class="modal-body">
        <p id="modal-p">This system is essentially a support tool. It is not
          meant to replace mental health professionals in any way, shape or form. 
          It only facilitates the process for experts and normal users  
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>

  const dialog = document.getElementById('disclaimer-modal');
  const closebtn = document.querySelector('.modal-footer .btn-danger');

  function showDialog() {
    dialog.style.display = 'block';
  }

  function hideDialog() {
    dialog.style.display = 'none';
  }

  closebtn.addEventListener('click', hideDialog);
  
  </script>
  <script>
    showDialog();
  </script>




<br> 
<h1><center>Normal User Interface <i class="bi bi-person-fill"></i></center></h1> 

<br>
<div class="general-assessment">
  <h3>General Assessment/Evaluation</h3>
  <p>
  This is a screening questionnaire used to
     identify potential mental health issues in individuals. 
    It is a self-report questionnaire consisting of 14 questions, each with four response options. Based on
    the results user will be directed to disorder specific questions. The questions are based  on GHQ12 and the DSM
    (Diagnostic and Statiscal Manual of Mental Disorders)
  </p>
  <a href="/ghq"> <button class="begin-button">Begin</button></a>

</div> <br>

<!--
<section class="history">
<center> <h2> History </h2> </center> -->


</section>

<section id="disorder_tests">
         <center><h2> Disorder Tests <i class="bi bi-clipboard2-pulse"></i> </h2></center> 
         <div class="p_info">
          <p style="color:white">
            Below are all the tests avaiable in the system. If you have an idea what you might be  suffering from you select from the tests below. All the questions and diagnosis criteria
            were based on the information provided by the DSM (Diagnostic and Statistical Manual of Mental Disorders).

          </p>
          <br>
          <p style="color:white">
            (This system offers assessments only for Social Anxiety, Generalized Anxiety Disorder, Bipolar, PTSD, OCD, Anti social and Depression.)
          </p>
         </div>
          
          <br>
          <!-- maybe add pictures later-->
          <div class="social_anxiety" >
            <h3> Social Anxiety</h3>
            <p> 
                 
            </p>

            <center><a href="/sa_anxiety_test"> <button class="begin-button">Begin</button></a></center>
          </div>

          <br>
          <div class="general_anxiety">
            <h3> Generalized Anxiety Disorder</h3>
            <p> 
                   
            </p>

           <center><a href="/anxiety_test"> <button class="begin-button">Begin</button></a></center> 
          </div>

          <br>
          <div class="depression">
            <h3> Depression </h3>
            <p> 
                  
            </p>
            <br>
            <center><a href="/depression_test"> <button class="begin-button">Begin</button></a></center>
          </div>

          <br>
          <div class="ocd">
            <h3> Obsessive Compulsive Disorder </h3>
            <p> 
                 
            </p>
            <br>
            <center><a href="/ocd_test"> <button class="begin-button">Begin</button></a></center>
          </div>

          <br>

          <div class="ptsd">
            <h3> Post Traumatic Stress Disorder</h3>
            <p> 
                  
            </p>

           <center><a href="/ptsd_test"> <button class="begin-button">Begin</button></a></center> 
          </div>
          <br>

          <div class="anti-social">

            <h3> Anti Social Personality Disorder</h3>
            <p> 
                   
            </p>

           <center><a href="/antisocial_test"> <button class="begin-button">Begin</button></a></center> 
          </div>

          <br>
          <div class="bipolar">
            <h3> Bipolar Disorder </h3>
            <p> 
                
            </p>
            <!-- add the bipolar questions asap -->
           <center><a href="/bipolar_test"> <button class="begin-button">Begin</button></a></center>
          </div>
          
          <br>



<br>

<footer>
  <div class="footer-content">
    <h3>
      PDDES 
    </h3>
    <p>
      This is the footer of our site!
    </p>
    <ul class="communications">
      <li>
        <a href="#"><i class="fa fa-telegram"></i></a>
      </li>
      <li>
        <a href="https://github.com/MM58-crypto"><i class="fa fa-github"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-linkedin-square"></i></a>
      </li>
      
    </ul>
  </div>
  
  <div class="footer-bottom">
    <p class="lead">copyright &copy;2023 PDDES. </p>
    
   
  </div>
</footer> 
<!-- sa stuff

  An anxiety condition that is frequently seen is social anxiety disorder. Speaking in public, getting to know new people, dating, participating in a job interview, responding to a question in class, or having to interact with a cashier at a store are examples of situations where people with social anxiety disorder experience symptoms of anxiety or fear.

  1) Cognitive behavioural therapy (CBT), which can be carried out alone, in a 
group, or with your parents or other caregivers, is a form of therapy that aims to alter your negative thought patterns and behaviours.

2) Working through a CBT-based workbook or online course while receiving ongoing assistance from a therapist is referred to as guided self-help.


-->
<!-- 
  bipolar stuff

  An individual's mood, energy level, and capacity for function can alter as a result of bipolar illness, a brain disorder. Bipolar disorder patients go through strong emotional states known as mood episodes, which often happen over discrete intervals of days to weeks. Manic/hypomanic (an abnormally cheerful or angry mood) or depression are the two classifications for these mood episodes (sad mood)

  understanding the causes and symptoms of a manic or depressive phase

psychological counseling, such as talking therapy, can help you deal with depression and offer relationship improvement guidance.

Lifestyle suggestions include getting regular exercise, scheduling enjoyable activities that make you feel accomplished, and getting more sleep and bettering your nutrition.
-->
{% endblock %}
