{% extends "base.html" %}

{% load static %}

{% block content %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<div class="img"></div>
<div class="center">
    <div class="title">Web-based system to predict psychological disorders</div>
    <br>
    <div class="sub_title">Your psychological wellbeing is of great importance</div>
    <br>
    
    <div class="btns">
        <!--begin btn may be removed or changed later-->
        <a href="accounts/login/">
        <button>Login</button>
        </a>
        <a href="register">
        <button>Sign Up</button>
        </a>
    </div>
</div>

<!-- find white logos to put above each text container-->

<br> <br> 
<div class="sections">
  <h2><center>What the system provides</center></h2>
  <br> <br> 
  <section class="hidden">
    <div class="text-container">
      <center><i class="fa fa-bolt fa-3x" aria-hidden="true"></i></center>
      <br>
      <center><h3> Quick Results </h3></center>
      <p>  A smooth and responsive system that provides quick diagnosis results </p>
    </div>
      
  </section>

  <section class="hidden">
    <div class="text-container">
      <center><i class="fa fa-medkit fa-3x" aria-hidden="true"></i>
       
      </center>
      <br> 
      <center><h3> Treatment Recommendations </h3></center>
      <p>  Recommends treatment to patients or clients according to the disorder </p>
    </div>
    
  </section>
  
  <section class="hidden">
    <div class="text-container">
      <center><i class="fa fa-check-square fa-3x" aria-hidden="true"></i> </center>
      <br>
      <center><h3> Descriptive info on condition  </h3></center>
      <p> A brief and accurate description of the disorder after obtaining the results collected
        from reliable sources such as DSM, WebMd and NHS </p>
    </div>
    
  </section>
</div> 

<!--<div class="section-container">
    <section>
        <div class="container reveal">
          <h2>What the system provides</h2>
          <br> <br>
          <div class="text-container">
            <div class="text-box">
              <h3>Quick Results</h3>
              <p>
                A smooth and responsive system that provides quick diagnosis results
              </p>
            </div>
            <div class="text-box">
              <h3>Treatment Recommendations</h3>
              <p>
                Recommends treatment to patients or clients according to the disorder
              </p>
            </div>
            <div class="text-box">
              <h3>Descriptive info on condition </h3>
              <p>
                A brief and accurate description of the disorder after obtaining the results
              </p>
            </div>
          </div>
        </div>
      </section>
      
      
      </section>
</div> -->

<footer>
  <div class="footer-content">
    <h3>
      PDDES 
    </h3>
    <p>
      This is the footer of our site!
    </p>
    <ul class="communications">
      <li>
        <a href="#"><i class="fa fa-telegram"></i></a>
      </li>
      <li>
        <a href="https://github.com/MM58-crypto"><i class="fa fa-github"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-linkedin-square"></i></a>
      </li>
      
    </ul>
  </div>
  <div class="footer-bottom">
    <p>copyright &copy;2023 PDDES. </p>
  </div>
</footer> 

<script defer src="{% static 'js_files/index.js' %}"> </script>

<style>
  .img{
background: url('static/imgs/mind2.jpeg') no-repeat;
height: 100vh;
width: 100%;
background-position: center;
background-size: cover; 
background-position: center;
position: relative;
}
.img::before{
content: '';
position: absolute;
height: 100%;
width: 100%;
background: rgba(0, 0, 0, 0.4);

}

</style>
{% endblock %}

