{% extends "base.html" %}

{% load bootstrap5 %}

{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/kb_style.css' %}"> 
</head>

{% block content %}

{% load crispy_forms_tags %} 
<br>
<h2><center>Knowledge Base Interface</center></h2>
<div class="container py-5">
   
    <form action="" method="POST" class="form2">
        {% csrf_token %}
        <br>
        <h3 style="color:white">Disorders</h3>
        <select id="disorder-select" name="disorder_name">
            {% for disorder in disorders %}
                <option value="{{ disorder.pk }}">{{ disorder.disorder_name }}</option>
            {% endfor %}
        </select>
        {{ diagnosis_form |crispy }}
       
        <br>

       
        <br>
        
        <!--
        <h4>Symptoms</h4>
        {{ symptoms_form|crispy }}
        <br> -->
        <button class="btn btn-info" type="submit">Save</button>
    </br>
    </form>
    <br>

</div>

<style>
   

</style>

<!-- Using javascript/ajax to fetch data from database when user selects item from drop down menu-->
<script>
    var select = document.getElementById('disorder-select');
    select.addEventListener('change', function() {
        var disorderId = this.value;
        var url = '/get_disorder_info/?disorder_id=' + disorderId;
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var data = JSON.parse(xhr.responseText);
                document.getElementById('id_disorder_desc').value = data.disorder_desc;
                document.getElementById('id_disorder_keywords').value = data.disorder_keywords;
                document.getElementById('id_recommendation').value = data.recommendation;
            }
        };
        xhr.open('GET', url);
        xhr.send();
    });
</script>



    
{% endblock %}