{% extends "base.html" %}

{% load bootstrap5 %}

{% load static %}

<head>
   <!-- <link rel="stylesheet" href="{% static 'kb_style.css' %}"> -->
</head>

{% block content %}

{% load crispy_forms_tags %} 

<h2><center>Knowledge Base Interface</center></h2>
<div class="container py-5">
   <!-- <form action="" method="POST" class="form1">
        {% csrf_token %}
        <h3>Symptoms</h3>
        {{ symptoms_form|crispy }}
        <br>
        <button class="btn btn-primary" type="submit">Save</button>
    </br>
    </form> -->
    <form action="" method="POST" class="form2">
        {% csrf_token %}
        <br>
        <h3>Disorders</h3>
        {{ diagnosis_form|crispy }}
        <br>
        <h4>Symptoms</h4>
        {{ symptoms_form|crispy }}
        <br>
        <button class="btn btn-primary" type="submit">Save</button>
    </br>
    </form>
    <br>
    <form action="" method="POST" class="form3">
        {% csrf_token %}
        <h3>System rules </h3>
        {{ system_rules|crispy }}
        <br>
        <button class="btn btn-primary" type="submit">Save</button>
    </br>
    </form>
</div>

{% endblock %}