
{% extends 'base.html' %}



{% block content %}

{% load crispy_forms_tags %} 

<!--Password reset-->
 <div class="container p-5">
    <h2 class="font-weight-bold mt-3"> Reset Password</h2>
    <hr>
    <p>Enter your email address below to receive instructions for setting a 
        new password
    </p>
    <form method="POST">
        {% csrf_token %}
        {{ password_reset_form|crispy }}
        <br> 
        <button class="btn btn-primary" type="submit">Send email</button>
    </form>
 </div>



{% endblock %}





